page-category {

}

ion-title {
  text-align: center;
}

.category-title {
  text-align: center;
}

.article_logo {
  float:right;
  height: 30px;
  width: auto !important;
}

.articlecontent img {
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}
