.dark-theme {
  ion-content, ion-item{
    background-color: #090f2f;
    color: #fff;
  }

  .toolbar-title {
    color: #fff;
  }

  .header .toolbar-background {
    //border-color: #ff0fff;
    border-color: #ff7700;
    background-color: #090f2f;
  }

  $colors: (
          primary:    #ff7700,
          secondary:  #32db64,
          danger:     #f53d3d,
          light:      #f4f4f4,
          dark:       #222
  );
}