<ion-header>
  <ion-navbar>
    <ion-title>
      Alarm
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
  <ion-item (click)="openPicker()" color="dark" id="alarm-list-item8">
    <span>Alarm Time:</span><br/><span style = "text-align: center; font-size: 3em; color: #ff7700">{{display}}</span>
  </ion-item>
  <form id="alarm-form3">
    <ion-list id="alarm-list2">
      <ion-item id="alarm-input1">
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="alarm-input2">
        <ion-label>
          Ringer (V2)
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="alarm-input3">
        <ion-label>
          Alarm Repeat
          <div class = "row" style ="text-align: center;">
            <div class = "col" style ="text-align: center;">
              <span *ngFor = "let day of weekdayString; let i = index">
                <button ion-button small (click) = "toggleDay(i)" *ngIf="weekdays[i] == false">{{day.charAt(0)}}</button>
                <button ion-button small color = "light" (click) = "toggleDay(i)" *ngIf="weekdays[i] == true">{{day.charAt(0)}}</button>
              </span>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-item color="dark" id="alarm-list-item11">
      Geo-sensitive (V2)
    </ion-item>
    <button (click) = "createAlarm()" id="alarm-button2" ion-button color="positive" block>
      Set Alarm!
    </button>
  </form>
</ion-content>